/****************************************************************************
 * CONTAINS THE fr_CH LOCALE SPECIFIC STYLINGS
 ****************************************************************************/

.product-addto-panel button.btn-cart {
    padding: 0 10px;
}

.cart-table .cart-table-content.body .col.col-price,
.cart-table .data-table-content.body .col.col-price,
.data-table .cart-table-content.body .col.col-price,
.data-table .data-table-content.body .col.col-price {
    font-size: 11px;
}

.cart-table .cart-table-content .col.col-delete,
.cart-table .data-table-content .col.col-delete,
.data-table .cart-table-content .col.col-delete,
.data-table .data-table-content .col.col-delete{
    overflow: visible;
}